.divclassname{
  margin: 50px;
}
.search{
  padding: 10px;
  font-size: 20px;
}

.list{
  padding: 0;
  list-style: none;
  text-align: center;
}

.listitem{
  margin-bottom: 20px;
  font-size: 25px;
  color: #444;
  font-weight: 300;
}